{% extends 'app/base.html' %}
{% block content %}
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="{% url 'app:dashboard' %}">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Single - Project</li>
    </ol>
    <div class="card-body">
        <form action="{% url 'app:add_project' %}" method="POST" accept-charset="utf-8" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <div class="form-row">                
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <input class ="form-control" type="text" name="projectName" 
                                id="projectName" value = "{{project.name}}" readonly/>
                            <label for="projectName">Name</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <input class ="form-control" type="text" name="projectOwner" 
                                id="projectOwner" value = "{{project.owner}}" readonly/>
                            <label for="projectOwner">Owner</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-label-group">
                    <input class ="form-control" type="text" name="projectDescription"
                        id="projectDescription" value = "{{project.description}}" readonly/>
                    <label for="projectDescription">Description</label>
                </div>
            </div>
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <select class ="form-control"  name="language" id="language">
                                <option selected disabled>Select Main Language</option>
                                <option value="Android">Android</option>
                                <option value="Angular">Angular</option>
                                <option value="C Shart">C Sharp</option>
                                <option value="Django">Django</option>
                                <option value="Flask">Flask</option>
                                <option value="Flutter">Flutter</option>
                                <option value="Ionic">Ionic</option>
                                <option value="Java">Java</option>
                                <option value="Javascript">Javascript</option>
                                <option value="Kotlin">Kotlin</option>
                                <option value="Laravel">Laravel</option>
                                <option value="PHP">PHP</option>
                                <option value="Python">Python</option>
                                <option value="React">React</option>
                                <option value="VueJS">VueJS</option>
                                <option value="Yii">Yii</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <input class ="form-control" type="date" name="startDate" 
                                id="startDate" value = "{{project.startdate}}" readonly>
                            <label for="startDate">Start Date</label>
                        </div>
                    </div>
                </div>
            </div>                        
            <div class="form-group">
                <div class="form-row">
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <select class ="form-control"  name="status" id="status">
                                <option selected value="No Started">No Started</option>
                                <option value="Started">Started</option>
                                <option value="In Progress">In Progress</option>
                                <option value="Halted">Halted</option>
                                <option value="Finished">Finished</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-label-group">
                            <input class ="form-control" type="date" name="finishedDate" 
                                id="finishedDate" value = "{{project.finishdate}}" readonly>
                            <label for="finishedDate">Finished Date</label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3">
                <div class="card-header">
                    <i class="fas fa-table"></i>
                    Attachments
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" border="0" cellpadding="0" id="dataTable" width="100%" cellspacing="0">
                            <thead class="thead-dark">
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">Attachment Name(s)</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <th scope="row">1</th>
                                    <td>{{ form.file }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>       
        </form>
    </div>
{% endblock %}